site_name: TrustMark Glossary
site_url: https://petehitchen.github.io/trustmark-glossary/

theme:
  name: material
  features:
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

nav:
  - Home: index.md
  - TrustMark Glossary: trustmark-glossary.md

extra_css:
  - css/extra.css

extra_javascript:
  - glossary.js